/ProjectHoRS-ejb/build/
/ProjectHoRSLibrary/build/
/ProjectHoRSLibrary/dist/
/build/
/ProjectHoRSClient/build/
/ProjectHoRSClient/dist/
/ProjectHoRS-ejb/dist/
/dist/
/ProjectHoRSLibrary/nbproject/private/
/ProjectHoRSClient/nbproject/private/
/nbproject/private/
/ProjectHoRS-ejb/nbproject/private/
